{% extends "base.html" %}
{% load static %}
{% block title %}Erreur 404 - Pur beurre{% endblock title %}

{% block content %}
<section class="page-section bg-moules-frites">
    <div class="container px-4 px-lg-5 bg-primary">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="prod_rep2" style="background-color: black; height: 200px; color: white;">
                <h3 class="text-white font-weight-bold">Erreur 404</h3>
            </div>
        </div>
    </div>
</section>

<section class="page-section bg-moules-frites min_height">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h3>Cette page n'existe pas.</h3>
            </div>
        </div>
    </div>
</section>

{% endblock %}

