{% extends 'base.html' %}
{% load static %}
{% block title %}Mes favoris -- Pur beurre{% endblock title %}

{% block results %}
<section class="page-section bg-moules-frites">
    <div class="container px-4 px-lg-5 bg-primary">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="prod_rep2" style="background-color: black; height: 200px; color: white;">
                <h3>Mes favoris</h3>
            </div>


        </div>
      
    </div>
</section>
{% endblock %}

{% block content %}
<section class="page-section bg-moules-frites min_height">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                {% if user.is_authenticated %}
                    <ul class="list-inline">
                    {% for item in products %}
                        <li class="list-inline-item">
                        <a href="{% url 'product' item.product.name %}"><div class="pic_container">
                        <img src="{{ item.product.image }}" class="img-fluid rounded">
                        </div></a>
                        <div class="p_name"><a class="p_ref" href="{% url 'product' item.reference.name %}">référence
                        <span>
                        substitut de <b>{{item.reference.name|truncatechars:40}}</b>
                        </span></a>                        
                            <p>{{item.product.name|truncatechars:30}}</p> 
                        </div>

                        <div class="p_save transparent">
                            <input type="checkbox" value="{{i.id}}" id="cbox" onclick="get_substitutes()"> sauvegarder
                        </div>
                        </li><span class="nutriscore">{{item.product.nutriscore.type.capitalize}}</span>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

          