{% extends 'base.html' %}
{% load static %}
{% load extra_filters %}
{% block title %}Mentions Légales -- Pur beurre{% endblock title %}

{% block mentions %}
<section class="page-section bg-moules-frites">
    <div class="container px-4 px-lg-5 bg-primary">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="prod_rep2" style="background-color: black; height: 200px; color: white;">
                <h3>Mentions Légales</h3>
            </div>


        </div>
      
    </div>
</section>
{% endblock %}



{% block content %}

<section class="page-section bg-moules-frites min_height">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-left">


            <p>Coordonnées de l'hébergeur : <a href="https://www.heroku.com/">heroku.com</a><br>
            Auteur de l'image de fond en page d'accueil : <a href="https://unsplash.com/@kawin">Kawin Harasai</a><br>
            Les autres photos, images et icones : <a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/">frontify.com</a></p>

            </div>
        </div>
    </div>
</section>

{% endblock %}