{% extends 'base.html' %}
{% load static %}
{% block title %}Information détaillée -- Pur beurre{% endblock title %}

{% block product %}
<section class="page-section bg-moules-frites">
    <div class="container px-4 px-lg-5 bg-primary">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="prod_rep2" style="background: url('{{product.image}}') no-repeat center; height: 200px; background-color: black; box-shadow: 2px 0px 16px -4px aliceblue;">
            <mark class="mark_prod">{{product.name}}</mark>
            </div>
        </div>
    </div>
</section>
{% endblock product %}

{% block content %}
<section class="page-section bg-moules-frites min_height">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="d-flex justify-content-between w-100">
                    <div class="nutri_score">
                        <table class="nutri">
                        <caption class="caption_nutriscore">NUTRI-SCORE</caption>
                        <tr>               
                        {% for letter in "abcde" %}
                            {% if letter == product.nutriscore.type %}
                            <td class="nutri_{{product.nutriscore.type.capitalize}}"  width="10px">
                            {% else %}
                            <td class="nut_{{letter}}" width="10px">
                            {% endif %}
                        {% endfor %}
                        </td></tr>
                        </table>
                    </div>
                        <table class="table-bordered table-sm table-light text-start">
                        <tr>
                        <th class="bg-rooibos-chocolat">Informations nutritionnelles</th><th class="bg-rooibos-chocolat">pour 100g / 100 ml</th>
                        </tr>
                            {% for key, value in product.nutriments.items %}
                            {% if key == "fat_100g" or key == "salt_100g" or key == "sodium_100g" or key == "energy_100g" or key == "energy-kcal_100g" or key == "sugars_100g" or key == "proteins_100g" or key == "carbohydrates_100g" %}
                            <tr><td class="bg-biscuit-trempe">{{key}}</td><td class="bg-biscuit-trempe">{{value}}</td></tr>
                            {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                    <br>
                    <div class="btn_fiche">
                        <a class="btn btn-primary" href="{{product.url}}">Voir la fiche d'OpenFoodFacts</a>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}