{% extends "base.html" %}
{% block title %}Mon compte -- Pur beurre{% endblock title %}

{% block profile %}

        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Mon compte</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                   
                   {% if request.user.is_authenticated %}Bonjour {{ user.username }} 
                   {% else %}<a href="{% url django.contrib.auth.login %}">Login</a>{% endif %}
                   <p>Ton email : {{ user.email }} </p>

                    </div>
                    </div>
                    </form>
                    </div>
                </div>
            </div>
        </header>  

{% endblock %}